@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индекс</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
<h2>Список користувачів</h2>

    
    <table class="table">
        <tr>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Вік</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>
                    <a asp-action="Edit" asp-controller="Main" asp-route-id="@item.Id">Змінити</a>
                </td>
                <td>
                    <form asp-controller="Main" asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <input type="submit" value="Видалити" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <p><a asp-action="Create" asp-controller="Main">Додати користувача</a></p>
    <table class="table">
        <tr><th>Назва</th><th>Кількість працівників</th></tr>
        @foreach (var item in Model.Companies)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Employees</td>
            </tr>
        }
        </table>
</body>
</html>